.main {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    background-color: #eeeeee;
    padding-top: 50px;
    padding-bottom: 10px;
    height: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 30px;
    margin-top: 25px;
    margin-left: 40px;
}

.header__nav-menu {
    display: flex;
    padding: 20px;
    list-style-type: none;
}

.header__nav-menu-list {
    padding-right: 40px;
}

.header__nav-menu-list-link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h3 {
    text-align: center;
}

.calendar-pagination {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.calendar-pagination a {
    text-decoration: none;
    color: blue;
    background-color: white;
    padding: 3px 5px;
    border: 1px solid blue;
    margin: 0 20px;
}

.table {
    border-collapse: collapse;
}

tr {
    border-top: 1px solid gray;
}

.table th,
.table td {
    width: 200px;
    max-width: 200px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    padding-left: 20px;
}

.panel-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.footer {
    background-color: white;
    text-align: center;
    height: 50px;
    width: 100%;
    position: relative;
}

.footer__copyright {
    padding-top: 10px;
}
