body {
    background-color: whitesmoke;
    margin-left: 30px;
    width: 1500px;
}

.header {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.menu_image {
    margin-top: 35px;
    margin-right: 15px;
}

.header__logo {
    font-size: 35px;
    color: rgb(42, 70, 231);
    font-weight: 800;
}

.search {
    margin-top: 35px;
    padding: 15px;
    background-color: white;
    box-shadow: 2px 2px 4px #0000001a;
    height: 25px;
    margin-left: 570px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
    border-radius: 10px;
}

.sort option {
    background: white;
}

.sort__button {
    position: absolute;
    top: 35px;
    left: 460px;
    padding: 15px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    height: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
    border-radius: 10px;
    border: none;
    height: 55px;
    width: 230px;
    font-size: 17px;
}

.csv__title {
    position: absolute;
    top: 20px;
    left: 260px;
}

.error-messages {
    position: absolute;
    top: 65px;
    left: 180px;
    color: red;
    width: 270px;
    background-color: yellow;
    padding-right: 10px;
}

.csv__select {
    position: absolute;
    top: 20px;
    left: 460px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    height: 15px;
}

.csv__import {
    position: absolute;
    top: 70px;
    left: 475px;
    background-color: rgb(177, 236, 217);
    padding: 5px;
    border-radius: 10px;
    border: none;
    height: 30px;
}

.sort__select {
    position: absolute;
    top: 80px;
    left: 440px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    height: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
    border-radius: 10px;
    border-color: darkgray;
    height: 125px;
    width: 330px;
}

select {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

select::-webkit-scrollbar {
    display: none;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select option {
    padding: 11px 20px;
}

.custom-select option:hover {
    background-color: rgb(76, 117, 246);
    color: white;
}

.bar {
    display: inline;
    color: lightgray;
}

.search__select {
    border: none;
    width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/images/search_select.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 30px;
}

.search__shopname {
    border: none;
    width: 430px;
    background-image: url("/images/search_shopname.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

.heart {
    width: 50px;
    float: right;
    margin-right: 20px;
    margin-top: -10px;
}

.shops-container {
    margin-left: -10px;
}

.shop {
    background-color: white;
    max-width: 350px;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 320px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
    border-radius: 10px;
}

.shop__image {
    width: 100%;
    object-fit: cover;
    height: 170px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.shop__name {
    font-size: 20px;
    font-weight: bold;
    height: 1px;
    margin-left: 20px;
}

.shop__tag {
    display: flex;
    justify-content: flex-start;
}

.shop__area {
    margin-right: 5px;
    margin-left: 20px;
}

.shop__detail {
    background-color: rgb(42, 70, 231);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 7px;
    margin-left: 20px;
}

.shop {
    width: calc(25% - 20px);
    margin: 0 10px 20px;
    box-sizing: border-box;
    float: left;
}

.shop__average-score {
    display: none;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .search__shopname {
        width: 100px;
    }

    .header__logo {
        margin-left: 20px;
    }

    .shops-container {
        margin-left: 0;
    }

    .shop {
        width: 100%;
        margin: 0 0 20px;
        float: none;
    }

    .csv__title {
        position: absolute;
        top: 20px;
        left: 200px;
    }

    .csv__select {
        position: absolute;
        top: 47px;
        left: 190px;
        border: none;
        font-size: 15px;
    }

    .csv__import {
        position: absolute;
        top: 95px;
        left: 205px;
        background-color: rgb(177, 236, 217);
        padding: 5px;
        border-radius: 10px;
        border: none;
        height: 30px;
    }

    .error-messages {
        position: absolute;
        top: 130px;
        left: 205px;
        color: red;
        width: 150px;
        background-color: yellow;
        padding-right: 10px;
    }

    .sort__button {
        position: absolute;
        top: 35px;
        left: 215px;
        padding: 15px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        height: 25px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
        border-radius: 10px;
        border: none;
        height: 55px;
        width: 180px;
        font-size: 15px;
    }

    .sort__select {
        position: absolute;
        top: 80px;
        left: 200px;
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        height: 25px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
        border-radius: 10px;
        border-color: darkgray;
        height: 125px;
        width: 200px;
    }
}
