body {
    background-color: whitesmoke;
    margin-left: 30px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.menu_image {
    margin-top: 35px;
    margin-right: 15px;
}

.header__logo {
    font-size: 35px;
    color: rgb(42, 70, 231);
    font-weight: 800;
}

h1 {
    text-align: center;
}

.mypage__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.mypage__content__reservation {
    width: 1200px;
}

.favorite_status {
    width: 1000px;
}

.mypage__content__favorite {
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
}

.reservation__card {
    background-color: rgb(42, 70, 231);
    color: white;
    margin-bottom: 20px;
    padding: 30px;
    width: 450px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
    border-radius: 10px;
}

.reservation__card__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.clock_image {
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.reservation__clock__number {
    display: flex;
    justify-content: flex-start;
}

.reservation__number {
    margin-left: 30px;
    margin-top: 7px;
}

.reservation__status {
    color: orange;
}

.reservation__delete {
    background-color: rgb(42, 70, 231);
    border: none;
}

.delete_image {
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.reservation__item {
    height: 40px;
}

.reservation__data {
    padding-left: 35px;
}

.reservation__update {
    background-color: rgb(100, 134, 237);
    border-radius: 10px;
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.reservation__update__date,
.reservation__update__time,
.reservation__update__number {
    height: 30px;
    border: none;
    border-radius: 7px;
    width: 120px;
    margin-right: 10px;
}

.reservation__update__button {
    height: 40px;
    border: none;
    background-color: blue;
    color: white;
    margin-top: 20px;
    margin-left: 310px;
    padding: 0px 15px;
}

.heart {
    width: 50px;
    float: right;
    margin-right: 20px;
    margin-top: -10px;
}

.shop {
    max-width: 350px;
    background-color: white;
    width: calc(50% - 40px);
    margin: 0 80px 40px 0;
    height: 320px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
    border-radius: 10px;
    box-sizing: border-box;
}

.shop__image {
    width: 100%;
    object-fit: cover;
    height: 170px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.shop__name {
    font-size: 20px;
    font-weight: bold;
    height: 1px;
    margin-left: 20px;
}

.shop__tag {
    display: flex;
    justify-content: flex-start;
}

.shop__area {
    margin-right: 5px;
    margin-left: 20px;
}

.shop__detail {
    background-color: rgb(42, 70, 231);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 7px;
    margin-left: 20px;
}

.reservation__evaluate {
    height: 40px;
    border: none;
    background-color: purple;
    color: white;
    margin-top: 20px;
    padding: 0px 15px;
}

.reservation__evaluate-form {
    background-color: rgb(180, 100, 237);
    border-radius: 10px;
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.review__submit {
    height: 40px;
    border: none;
    background-color: purple;
    color: white;
    margin-top: 20px;
    padding: 0px 15px;
    margin-left: 310px;
}

.review__item {
    display: block;
    margin-top: 20px;
}

.review__score {
    margin-top: 10px;
    height: 30px;
    border: none;
    border-radius: 7px;
    width: 50px;
    margin-right: 10px;
}

.review__comment {
    margin-top: 10px;
    height: 30px;
    border: none;
    border-radius: 7px;
    width: 390px;
    height: 100px;
    margin-right: 10px;
}

.qr-code {
    text-align: center;
    color: orange;
}

.qr-code__img {
    width: 20%;
    height: 20%;
}

.reservation__pay {
    height: 40px;
    border: none;
    background-color: orangered;

    margin-top: 20px;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
}

.reservation__pay__link {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    body {
        background-color: whitesmoke;
    }

    .logo {
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .mypage__content {
        flex-direction: column;
    }

    .mypage__content__reservation {
        width: auto;
    }

    .favorite_status {
        width: calc(100% - 100px);
        clear: both;
    }

    .mypage__content__favorite {
        margin-left: 0;
    }

    .reservation__card {
        width: 90%;
        max-width: 450px;
        margin-bottom: 20px;
    }

    .shop {
        width: 90%;
        margin: 0 30px 20px 0;
    }

    .shop__name {
        font-size: 18px;
        margin-left: 10px;
    }

    .shop__tag {
        margin-left: 10px;
    }

    .shop__detail {
        margin-left: 10px;
    }

    .heart {
        margin-right: 10px;
    }

    .reservation__update {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }

    .reservation__update__button {
        margin-left: auto;
        margin-right: auto;
    }

    .reservation__evaluate {
        width: 90%;
        margin: 0 auto 20px;
    }

    .reservation__evaluate-form {
        width: 90%;
        margin: 0 auto 20px;
        padding: 10px;
    }

    .review__submit {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .reservation__pay {
        margin-top: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}
