body {
    background-color: whitesmoke;
        margin-left: 30px;

}

.logo {
    display: flex;
    justify-content: flex-start;
}

.menu_image {
    margin-top: 35px;
    margin-right: 15px;
}

.header__logo {
    font-size: 35px;
    color: rgb(42, 70, 231);
    font-weight: 800;
}

.register__form {
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
    margin: 0 auto;
}

.form__title {
    background-color: rgb(42, 70, 231);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.register__item {
    display: flex;
    margin-bottom: 15px;
}

.item__image {
    margin-right: 10px;
    width: 40px;
    margin-left: 20px;
}

.item__form {
    border: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
    width: 280px;
}

.register__button {
    background-color: rgb(42, 70, 231);
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 7px;
    margin-left: 300px;
    margin-bottom: 20px;
    border: none;
}

.login__button {
    background-color: rgb(42, 70, 231);
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 7px;
    margin-left: 270px;
    margin-bottom: 20px;
    border: none;
}