body {
    background-color: rgb(238, 238, 238);
    margin-left: 30px;
}

.detail__content {
    display: flex;
    justify-content: flex-start;
    width: 1100px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.menu_image {
    margin-top: 35px;
    margin-right: 15px;
}

.header__logo {
    font-size: 35px;
    color: rgb(42, 70, 231);
    font-weight: 800;
}

.shop-details {
    width: 450px;
    padding-right: 100px;
    /* border-right: 1px solid black; */
}

.detail__content__reservation {
    margin-left: 80px;
    background-color: rgb(42, 70, 231);
    width: 550px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
    border-radius: 10px;
    margin-top: 35px;
    color: white;
    height: 700px;
}

.reservation {
    font-size: 25px;
    /* margin-left: 30px; */
    margin-top: 30px;
}

.reservation__date {
    width: 160px;
}

.reservation__date,
.reservation__time,
.reservation__number {
    height: 30px;
    border: none;
    border-radius: 7px;
    margin-right: 10px;
    margin-left: 30px;
    display: block;
    margin-bottom: 15px;
    padding: 0 10px;
}

.review__table {
    width: 95%;
}

.reservation__time,
.reservation__number {
    width: 470px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/images/search_select.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

.reservation__item {
    height: 30px;
}

.reservation__check {
    background-color: rgb(100, 134, 237);
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    width: 450px;
    text-align: left;
}

.reservation__data {
    width: 300px;
}

.reservation__button {
    height: 60px;
    border: none;
    background-color: blue;
    color: white;
    margin-top: 240px;
    padding: 0px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 550px;
    font-size: 15px;
}

.heart {
    width: 50px;
    float: right;
    margin-right: 20px;
    margin-top: -10px;
}

.vertical__line {
    position: absolute;
    left: 590px;
    top: 200px;
    bottom: 0;
    width: 1px;
    border-left: 1px solid darkgray;
    height: 510px;
}


.shop {
    /* max-width: 350px; */
    width: 600px;
    background-color: white;
    /* width: calc(50% - 20px); */
    margin: 30px 60px 50px 60px;
    height: 320px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
    border-radius: 10px;
    box-sizing: border-box;
    float: left;
    /* border-right: 1px solid black; */
}

.shop__detail__shopname {
    display: flex;
    justify-content: flex-start;
}

.shop__detail__title {
    margin-left: 60px;
    margin-top: 60px;
    font-size: 45px;
}

.shop__image {
    max-width: 600px;
}

.shop__name {
    font-size: 20px;
    font-weight: bold;
    height: 1px;
    margin-left: 20px;
}

.shop__tag {
    display: flex;
    justify-content: flex-start;
}

.shop__area {
    margin-right: 5px;
}

.shop__description {
    width: 600px;
}

.detail__content__shop {
    /* border-right: 1px solid black; */
    /* height: 500px; */
    /* margin-top: 600px; */
    /* padding-top: 300px; */
}

.shop__detail {
    background-color: rgb(42, 70, 231);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 7px;
    margin-left: 20px;
}

.review {
    background-color: rgb(180, 100, 237);
    border-radius: 10px;
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    color: white;
}

.review__form {
    margin-left: 100px;
    margin-top: 70px;
}

.review__title {
    font-size: 25px;
}

.review__comment, .image__attach {
    font-size: 25px;
    margin-top: 40px;
}

.review__comment__input {
    width: 650px;
    height: 120px;
    background-color: rgb(238, 238, 238);
    font-size: 20px;
    padding: 15px;
}

.character-count {
    /* width: 650px; */
    text-align: right;
}

/* .review__table,
.review__score,
review__comment. {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 8px;
} */

.review__score {
    width: 100px;
    text-align: center;
}

/* .review__comment {
    width: 400px;
} */

#photo-preview img {
        max-width: 100px; /* プレビュー画像の最大幅を指定 */
        max-height: 100px; /* プレビュー画像の最大高さを指定 */
        margin-left: 450px;
}

.alert {
    color: red;
    width: 500px;
}

.image__delete__button {
    background-color: rgb(42, 70, 231);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 7px;
    margin-top: 5px;
    border: none;
    display: inline-block;
}

.error__message__image {
    position: absolute;
    top: 780px;
    left: 830px;
}

.submit__button {
        position: absolute;
            top: 870px;
    left: 350px;
    background-color: white;
    border: none;
    padding: 15px 250px;
    font-size: 20px;
    border-radius: 30px;
}


@media (max-width: 768px) {
    .detail__content {
        width: 100%;
        flex-direction: column;
    }

    .detail__content__shop {
        width: 100%;
    }

    .detail__content__reservation {
        width: calc(100% - 10px);
        max-width: 600px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .reservation__date {
        width: calc(100% - 80px);
        max-width: 160px;
    }

    .reservation__time,
    .reservation__number {
        width: calc(100% - 60px);
    }

    .reservation__button {
        width: calc(100% - 60px);
    }

    .detail__content__shop {
        flex-direction: column;
        max-width: 600px;
        
    }

    .shop__image {
        max-width: 100%;
    }

    .shop__description {
        width: 100%;
        margin-left: 0;
    }

    .review__table {
        width: 95%;
    }

    .reservation__check {
        width: calc(100% - 60px);
    }

    .reservation__button {
        width: calc(100%);
    }

    .reservation__check {
        max-width: 450px;
    }
}

.shop {
    background-color: white;
    max-width: 350px;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 320px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.557);
    border-radius: 10px;
    
}

.shops-container {
    margin-left: -10px;
}

.shop__image {
    width: 100%;
    object-fit: cover;
    height: 170px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.shop__name {
    font-size: 20px;
    font-weight: bold;
    height: 1px;
    margin-left: 20px;
}

.shop__tag {
    display: flex;
    justify-content: flex-start;
}

.shop__area {
    margin-right: 5px;
    margin-left: 20px;
}



/* .image__upload__button {
    width: 500px;
    height: 100px;

    
} */

.custom-file-upload {
    background-color: white; /* 背景色 */
    padding: 50px 190px; /* 内側の余白 */
    cursor: pointer; /* カーソルをポインターに変更 */
    display: inline-block; /* インラインブロック要素にする */
    text-align: center; /* テキストを中央揃えにする */
    width: 300px; 

}

.custom-file-upload span {
    pointer-events: none; /* テキストがクリック可能でないようにする */
}


@media (max-width: 768px) {
    .detail__content__shop {
        border-right: none; /* 768px以下では縦線を非表示にする */
        height: auto; /* 高さを自動に設定 */
    }

    .vertical__line {
        display: none; /* 768px以下では縦線を非表示にする */
    }

    /* その他の要素に対するスタイル調整 */
    .shop__detail__shopname {
        padding-top: 20px; /* ショップ名の上部の余白を追加 */
    }

    .review__form {
        margin-top: 20px; /* 口コミフォームの上部の余白を追加 */
        margin-left: 55px;
    }

    .review__comment__input{
        width: 300px;
    }

        .character-count {
        text-align: left;
    }

    .custom-file-upload, .image__upload__button {
        width: 300px;
        padding: 20px 20px;
    }

    .submit__button {
position: static;
        background-color: white;
        border: none;
        padding: 15px 30px;
        font-size: 20px;
        border-radius: 30px;
        max-width: calc(100% - 10px);

    }

        .shop {
        width: calc(100% - 100px);
        /* margin: 0 30px 20px 0; */
    }

    .shop__name {
        font-size: 18px;
        /* margin-left: 10px; */
    }

    .shop__tag {
        /* margin-left: 10px; */
    }

    .shop__detail {
        /* margin-left: 10px; */
    }

    .heart {
        /* margin-right: 10px; */
    }

    .shop__detail__title {
        font-size: 30px;
    }

    .shop-details {
    padding-right: 5px;
    width: calc(100% - 60px);
}

.review__comment__input {
    width: calc(100% - 60px);
    max-width: 300px;
}

.custom-file-upload, .image__upload__button {
    width: calc(100% - 60px);
    max-width: 300px;
}

.image__delete__button {
    display: block;
    margin-bottom: 30px;
}

#photo-preview img {
        max-width: 100px; /* プレビュー画像の最大幅を指定 */
        max-height: 100px; /* プレビュー画像の最大高さを指定 */
        margin-left: 0px;
        margin-bottom: 30px;
}

.error__message__image {
    position: static;
    margin-bottom: 10px;
}
}