@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
    width: 1000px;
    background-color: #eeeeee;
    text-align: center;
}

.login__title {
    text-align: center;
}

.email input,
.password input {
    display: block;
    margin: auto;
}

